.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.navbar-search .form-control {
  width: auto;
}

.navbar-search .input-group-alternative {
  width: 100%;
}

.navbar-search .form-group {
  flex: 1;
}

.modal-title {
  text-transform: capitalize;
}

a,
button {
  cursor: pointer;
}

/* .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-link img {
  width: 25px;
  margin-right: 8px;
}
